.env
.DS_Store
__pycache__/
.pytest_cache/
.venv/
*.py[cod]
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/sample/*
!data/sample/.gitkeep
models/saved_models/*
!models/saved_models/.gitkeep
.docker-data/
mlruns/
*.db
*.parquet